.*                   eol=lf
Dockerfile*          eol=lf
*.yml                eol=lf
*.vim                eol=lf
*.md                 eol=lf
.env                 eol=lf
*.conf               eol=lf
run                  eol=lf
build                eol=lf
prune                eol=lf
scripts/**           eol=lf